:root {
    /* font-size */
    --fs-xsm: 15px;
    --fs-sm: 16px;
    --fs-xxmd: 18px;
    --fs-xmd: 20px;
    --fs-xxxlg: 21.74px;
    --fs-xxlg: 25px;
    --fs-xlg: 30px;
    --fs-lg: 40px;
    --fs-xl: 41px;
    /* font-color */
    --fc-black: #000a1a;
    --fc-gray: #b2c8d6;
    --fc-blue: #001d49;
    --fc-primary-blue: #031227;
    --fc-white: #fff;
    --fc-black-shadow: #0000004D;
    --fc-blue-1: #009dff;
}
.clr-black{
    background: var(--fc-black);
}
.clr-white{
    color: var(--fc-white);
}
.clr-blue{
    color: var(--fc-blue);
}
.clr-gray{
    color: var(--fc-gray);
}
.clr-primary-blue{
    color: var(--fc-primary-blue);
}
/* .....................font-size............ */
.text-70{
    font-size: var(--fs-xl);
}
.text-50 {
    font-size: var(--fs-lg);
}
.text-30 {
    font-size: var(--fs-xlg);
}
.text-25{
    font-size: var(--fs-xxlg);
}
.text-21 {
    font-size: var(--fs-xxxlg);
}
.text-20 {
    font-size: var(--fs-xmd);
}
.text-18 {
    font-size: var(--fs-xxmd);
}
.text-16{
    font-size: var(--fs-sm);
}
.text-14{
    font-size: var(--fs-xsm);
}
/* ...............................media-quries */
@media(min-width:576px){
    :root{
       
        --fs-xsm: 18px;
        --fs-lg: 47px;
        --fs-xl: 55px;
        --fs-xxlg: 30px;
        --fs-xxmd:20px
    }
   
}
@media(min-width:768px){
    :root {
        --fs-xsm: 20px;
            --fs-xl:70px;
        }
}
@media(min-width:992px) {
    :root {
        --fs-lg: 50px;
    }
}